user.login=YOUR_LOGIN
user.password=YOUR_PASSWORD

app.id=YOUR_APP_ID
app.scopes=User.Read,Calendars.Read,Files.Read.All, Files.ReadWrite.All, Sites.Read.All, Sites.ReadWrite.All

# proxy.use=YES
proxy.use=NO
# proxy.server=PROXY
proxy.port=8080

# aws.region=eu-central-1
aws.region=us-east-1
aws.accessKeyId=KEY
aws.secretAccessKey=KEY
aws.sessionToken=KEY
aws.bucketStatePath=logs/buckets.state